%nav.navbar.navbar-expand-lg.navbar-dark.bg-ocean.px-3
  = link_to 'InstaVideo', root_path, class: 'navbar-brand'
  %button.navbar-toggler{ 'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarSupportedContent', 'data-toggle' => 'collapse', type: 'button' }
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.py-2
    - if user_signed_in?
      .ml-auto.d-flex.align-items-center
        .text-light.mr-2 Welcome #{current_user.email}
        = link_to 'Share a movie', '#', class: 'btn btn-sm btn-light mr-2'
        = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-light'
    - else
      .d-flex.flex-column.ml-auto
        = form_with scope: :user, url: user_session_path, local: true do |f|
          .d-flex
            .form-inline
              = f.email_field :email, placeholder: 'Email', class: 'form-control form-control-sm mr-sm-2'
              = f.password_field :password, placeholder: 'Password', class: 'form-control form-control-sm mr-sm-2'
              = f.submit 'Login', class: 'btn btn-sm btn-outline-light'
            %button.btn.btn-sm.border-none.text-fresh.hover-text-fresh.hover-border-fresh.mx-2{ type: 'button', 'data-toggle' => 'modal', 'data-target' => '#registerModal' } Register
          .d-flex.mt-1.form-check.form-check-inline
            = f.check_box :remember_me, class: 'form-check-input'
            = f.label :remember_me, 'Remember me?', class: 'form-check-label text-light'

        = render 'shared/register_modal'
