!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %title InstaVideo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application'
  %body.bg-butter.text-ocean
    = render 'shared/header'
    .container.vh-100.bg-fresh.p-3
      - if notice
        .alert.alert-success.alert-dismissible.fade.show
          = notice
          %button.close{ 'data-dismiss' => 'alert' } &times;
      - if alert
        .alert.alert-danger.alert-dismissible.fade.show
          = alert
          %button.close{ 'data-dismiss' => 'alert' } &times;
      = yield
